:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.background {
  flex: 1 0 auto;
  min-height: 60%;
  background: var(--studentcredit-primary-color);
}

main {
  margin-top: 8em;
}