tr>th {
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em !important;
}

tr>td {
  text-align: center;
  vertical-align: middle;
}

@media only screen and (min-width: 1889px) {
  .full-width {
    width: 98vw;
    position: relative;
    margin-left: -27em;
    table-layout: fixed;
  }
}

@media only screen and (max-width: 1888px) and (min-width: 1800px) {
  .full-width {
    width: 1770px;
    position: relative;
    margin-left: -23em;
    table-layout: fixed;
  }
}

@media only screen and (max-width: 1799px) and (min-width: 1600px) {
  .full-width {
    width: 1573px;
    position: relative;
    margin-left: -16em;
    table-layout: fixed;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
    display: block;
  }
}

@media only screen and (max-width: 1599px) and (min-width: 1440px) {
  .full-width {
    width: 1405px;
    position: relative;
    margin-left: -10em;
    table-layout: fixed;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
    display: block;
  }
}

@media only screen and (max-width: 1439px) {
  table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
    display: block;
  }
}