	.lang {
		cursor: pointer;
		align-items: end;
		padding: 0 1rem 0 !important;
		background: none !important;
		border: none;
		padding: 0 !important;
		font-family: arial, sans-serif;
		color: #0072b5;
		font-weight: normal;
	}

	.lang:hover {
		color: #a36c1a;
	}

	.root {
		border-left: 1px solid black;
		padding: 8px 16px;
		margin-left: 16px;
	}

	.mobile-lang {
		width: 100%;
		text-align: left !important;
		font-weight: bold;
		padding-left: 0.7em;
		margin-top: 0.4em;
	}

	.lang-logged {
		cursor: pointer;
		align-items: end;
		padding: 0 1rem 0 !important;
	}

	.lang-logged:hover {
		background-color: white !important;
		color: #FF9800;
	}

	@media screen and (min-width:1200px) {
		.lang-logged {
			background-color: var(--studentcredit-primary-color);
			color: white;
		}
	}

	@media screen and (max-width:1199px) {
		.lang-logged {
			background-color: white;
			color: black;
		}
	}