<ng-container>
  <div class="d-flex flex-wrap">
    <div class="col-sm-4 d-flex flex-column">
      <div class="title">{{ 'contacts.about' | translate }}</div>
      <div class="link">{{ 'contacts.links.studentCredit' | translate }}</div>
    </div>
    <div class="col-sm-4 d-flex flex-column">
      <div class="title">{{ 'contacts.connections' | translate }}</div>
      <a class="link">{{ 'contacts.links.NACID' | translate }}</a>
    </div>
    <div class="col-sm-4 d-flex flex-column">
      <div class="title">{{ 'contacts.information' | translate }}</div>
      <a class="link">{{ 'contacts.links.generalRules' | translate }}</a>
      <a class="link">{{ 'contacts.links.privacyPolicy' | translate }}</a>
    </div>
  </div>
</ng-container>