<ng-form>
  <div class="overflow-hidden rounded mt-5 mb-3">
    <table class="table search-table table-bordered m-0">
      <thead class="thead-light">
        <tr>
          <th scope="col"
              style="width:66%;">Вид документ</th>
          <th scope="col">Прикачен файл</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align: center; font-weight: bold;"
            *ngIf="!model.files">
          <td colspan="2">Няма прикачени документи</td>
        </tr>
        <tr *ngFor="let file of model.files; let i = index">

          <td>{{applicationFourAttachedFileTypeLocalization[file.type]}}</td>
          <td>
            <app-file-upload #attachedFileType="ngModel"
                             name="attachedFileType--{{i}}"
                             [(ngModel)]="model.files[i].file"
                             [required]="
                                (file.type === applicationFourAttachedFileType.debtStatementDocument)
                                || (file.type === applicationFourAttachedFileType.creditContractAndAnnexes)
                                || (file.type === applicationFourAttachedFileType.documentInFavorOfTheBank && model.type?.alias === applicationFourTypeAliases.BANK_CLAIM)
                                || (file.type === applicationFourAttachedFileType.deathCertificate && model.type?.alias === applicationFourTypeAliases.DEATH)
                                || (file.type === applicationFourAttachedFileType.permanentIncapacity && model.type?.alias === applicationFourTypeAliases.PERMANENT_INCAPACITY)
                                || (file.type === applicationFourAttachedFileType.birthCertificatesOrCourtDecisionsForAdoptions && model.type?.alias === applicationFourTypeAliases.BIRTH_OR_FULL_ADOPTATION)"
                             [allowClear]="true"
                             [disabled]="!isEditMode"></app-file-upload>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-form>