<div class="search-panel"
     style="padding: 3em; box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15)">
  <label class="mb-4"
         style="font-size: 1.2em; font-weight: 500;">{{ 'applicationOne.studentSelect.header' | translate }}</label>

  <form #studentSelect="ngForm">
    <div class="row">
      <div class="form-group col-sm-12 col-md-3">
        <label>{{ 'applicationOne.studentSelect.uan' | translate }}</label>
        <input class="form-control form-control-sm"
               type="text"
               #uan="ngModel"
               name="uan"
               [(ngModel)]="filter.uan"
               [required]="true"
               minlength="7"
               maxlength="7">
      </div>

      <div class="form-group col-sm-12 col-md-3">
        <label>{{ 'applicationOne.studentSelect.educationType.label' | translate }}</label>
        <select class="custom-select custom-select-sm form-control"
                [(ngModel)]="filter.educationType"
                #type="ngModel"
                name="type"
                [required]="true">
          <option [ngValue]="educationType.student">
            {{ 'applicationOne.studentSelect.educationType.student' | translate }}
          </option>
          <option [ngValue]="educationType.doctoral">
            {{ 'applicationOne.studentSelect.educationType.doctoral' | translate }}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="float-md-right d-flex">
          <!-- <button class="btn btn-sm btn-success"
                  style="display: inline-flex; align-items: center;"
                  id="btnFile"
                  onclick="upload.click();">
            <app-icon icon="filetype-xml"
                      class="mr-1"
                      width="14"
                      height="14"></app-icon> Импортирай приложение 1 от Xml
          </button>
          <input style="display: none;"
                 type="file"
                 id="upload"
                 (change)="readFile($event)" /> -->

          <button type="button"
                  class="btn btn-sm btn-primary ml-3"
                  awaitable
                  (click)="search()"
                  [disabled]="!studentSelect.valid">
            <app-icon icon="search"
                      class="thicker-icon"
                      width="12"
                      height="12"></app-icon>
            {{ 'buttons.search' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<table *ngIf="showTable"
       class="table search-table table-bordered mt-4">
  <thead class="thead-light">
    <tr>
      <th scope="col">{{ 'applicationOne.studentSelect.studentFullName' | translate }}</th>
      <th scope="col">{{ 'applicationOne.studentSelect.uin' | translate }}</th>
      <th scope="col">{{ 'applicationOne.studentSelect.institution' | translate }}</th>
      <th scope="col">{{ 'applicationOne.studentSelect.speciality' | translate }}</th>
      <th scope="col"
          style="width: 8%;">{{ 'applicationOne.studentSelect.details' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!model">
      <td colspan="5"
          style="text-align: center;">
        {{ 'applicationOne.studentSelect.noResult' | translate }} <span style="font-weight: bold;">{{ filter.uan
          }}</span>
      </td>
    </tr>
    <ng-container *ngIf="isStudentType">
      <tr *ngFor="let speciality of model.specialities">
        <td>{{ model.studentFullName }}</td>
        <td>{{ model.uin }}</td>
        <td>{{ speciality.institution?.name }}</td>
        <td>{{ speciality.speciality?.name }}</td>
        <td class="preview">
          <button class="btn btn-sm btn-outline-primary d-flex"
                  (click)="selectSpeciality(speciality)">{{ 'buttons.choose' | translate}}
          </button>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="!isStudentType">
      <tr *ngFor="let speciality of model.doctorals">
        <td>{{ model.studentFullName }}</td>
        <td>{{ model.uin }}</td>
        <td>{{ speciality.institution?.name }}</td>
        <td>{{ speciality.speciality?.name }}</td>
        <td class="preview">
          <button class="btn btn-sm btn-outline-primary d-flex"
                  (click)="selectSpeciality(speciality)">{{ 'buttons.choose' | translate}}
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>