<ng-form>
  <div class="row">
    <div class="form-group col-sm-12">
      <label class="d-inline-flex align-items-center">
        {{ 'applicationFour.new.about.applicationType' | translate }}
      </label>
      <app-async-select #type="ngModel"
                        name="type"
                        restUrl="ApplicationFourType/Select"
                        [(ngModel)]="model.type"
                        [required]="true"
                        [disabled]="!isEditMode || isViewMode"></app-async-select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <label class="d-inline-flex align-items-center">
        {{ 'applicationFour.new.about.blankDate' | translate }}
      </label>
      <div class="input-group input-group-sm">
        <input class="form-control"
               name="blankDate"
               ngbDatepicker
               [ngStyle]="{'border': blankDate.status == 'INVALID' ? '1px solid #dc3545' : null}"
               #blankDate="ngModel"
               #blankDateDatepicker="ngbDatepicker"
               placeholder="дд/мм/гггг"
               [(ngModel)]="model.blankDate"
               (keypress)="sharedService.filterDate($event)"
               validDate
               required
               maxlength="20"
               [disabled]="!isEditMode">
        <div class="input-group-append">
          <button class="btn btn-sm btn-outline-primary"
                  (click)="blankDateDatepicker.toggle()"
                  type="button"
                  [disabled]="!isEditMode">
            <app-icon icon="calendar2-event"
                      width="12"
                      height="12"></app-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group col-sm-12 col-md-4">
      <label class="d-inline-flex align-items-center">
        Сума на държавните разноски ({{ 'common.currency' | translate }})
      </label>

      <input #bankExpenses="ngModel"
             type="number"
             name="bankExpenses"
             class="form-control form-control-sm"
             [(ngModel)]="model.bankExpenses"
             step=".01"
             min="0"
             [disabled]="!isEditMode">
    </div>
  </div>

</ng-form>