.data-tab {
  margin-bottom: 2em;
}

/* .data-tab:hover .data-tab-header,
.data-tab:hover .data-tab-body {
  border-color: var(--studentcredit-primary-color);
} */

.data-tab-header {
  border: 1px solid #ced4da;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #e9ecef;
  padding: 0.5em 1em 0.5em 1em;
}

.data-tab-body {
  display: flex;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  padding: 0.5em 0em 0.5em 0em;
}